<div class= "container">
  <div class="panel-header"> <h1>Status</h1><h2><%= link_to 'Click here to create a status update.', new_status_path %></h2>
   </div>
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Likes</th>
      </tr>
    </thead>

    <tbody>
      <% @statuses.each do |s| %>

      <tr>
        <td><%= link_to s.status, status_path(s) %></td>
        <td><%= s.user %></td>
        <td><%= pluralize(s.likes.count, "likes") %></td>
        <td><%= button_to "Like", like_status_path(s), method: :post %></td>
      </tr>
      <% end %>

    </tbody>
  </table>
  </div>
</div>
